ion-button {
    &.matchListOptionButton {
        padding-right: 0.5rem;
    }
}

ion-icon {
    &.matchListOptionIcon {
        font-size: 24px;
    }
    &.sliderIcon {
        font-size: 1.7rem;
    }
}