@import "./partial";

// Pages
@import "../pages/NotFound/NotFound";

// Components
@import "../components/Menu/Menu";


h1 {
    font-size: 1.2rem !important;
}
ion-segment-button {
    --color-checked:#134f5c;
    --border-color: #134f5c;
    --background-checked: #edf3f4;
    min-height: 3rem;
}
ion-icon {
    fill: rgba( 0,0,0 ,0.6);
    &.sc-ion-back-button-md {
        fill: #fff;
    }
    &.sc-ion-back-button-ios {
        fill: #fff;
    }
    &[name='add'], &[name='save'],&[name='list'] {
        fill: #fff;    
    }
}
ion-fab-button {
   --background: #134f5c;
}

ion-button {
    &.statViewButton {
        height: 60%;
        white-space: normal;
        --border-color: #134f5c;
        --color: #134f5c;
        --color-activated: rgba($color: #134f5c, $alpha: 0.5);
        background: rgba($color: #134f5c, $alpha: 0.2);
        --padding-start: 10px;
        --padding-end: 10px;
    }
}

ion-grid {
    &.statViewGrid {
        background: url('/assets/stat-bg.png') no-repeat center fixed;     
        background-size: cover;
        height: 100%;
        ion-row {
            height: 33%;
        }
        ion-button {
            min-width: 100%;
            --background-activated: #a1c4c9;        
        }
    }

    &.field {
        background: url('/assets/field.png') no-repeat center;     
        background-size: contain;

        ion-col {
            border: solid 1px #ddd;
            height: 7rem;
            background-color: rgba($color: #134f5c, $alpha: 0.2);
            text-align: center;
            &.left {
                margin: 0.4rem 0rem 0.4rem 1rem;
            }
            &.center {
                margin: 0.4rem 1rem 0.4rem 1rem;
            }
            &.right {
                margin: 0.4rem 1rem 0.4rem 0rem;
            }
            ion-label {
                font-size: 3rem;
                line-height: 6rem;
            }
        }
    }
    &.area {
        background: url('/assets/area.png') no-repeat center;     
        background-size: cover;

        ion-col {
            height: 5.2rem;           
            margin: 0.1em 0em;
        }
    }
    &.areaView {
        background: url('/assets/area.png') no-repeat center;     
        background-size: cover;

        ion-col {
            height: 4.8rem;           
            margin: 1em 0em;
            text-align: center;

            ion-label {
                font-size: 2rem;
                line-height: 4.5rem;
                &.first {
                    line-height: 7rem;
                }
                &.last {
                    line-height: 1rem;
                }
            }
        }
    }
}


.item-has-focus {
    --highlight-background: #134f5c;
}

ion-label {
    color: rgba( 0,0,0 ,0.6) !important;
    font-weight: 500 !important;

    &.label-secondary {
        color: rgba( 0,0,0 ,0.4) !important;
        font-weight: 400 !important;
    }
}

.ion-color-itemColorLightBlue {
    --ion-color-base: #d0e1e4;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    color: rgba( 0,0,0 ,0.6) !important;
    font-weight: 500 !important;
}

.ion-color-itemColorBlue {
    --ion-color-base: #89a7ad;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    color: rgba( 0,0,0 ,0.6) !important;
    font-weight: 500 !important;
}



.ion-color-lightBlue {
    --ion-color-base: #a1c4c9;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    color: rgba( 0,0,0 ,0.6) !important;
    font-weight: 500 !important;
}

.ion-color-darkBlue {
    --ion-color-base: #134f5c;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff)!important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255, 255, 255)!important;
}
  