.swiper-pagination {
    --bullet-background-active: #134f5c !important;
}

#barChart {
    max-width: 1024px;
}

.filterTextLabel {
    margin-top: 10rem;
    ion-label {
        line-height: 2rem;
    }
}

ion-grid {
    &.statsGrid {
        height: auto !important;
        margin-bottom: 2rem;
        ion-col {
            border: solid 1px #fff;
            background-color: #edf1f2;
            font-size: 0.8rem;
            &.statGridCol {
                text-align: center;
            }
            &.headerCol {
                background-color: #8ca7ad;
            }
        }
    }
}